@use "/src/scss/variables" as *;

.wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 940px;
	justify-content: center;
}

.image {
	width: 100%;
	height: 100%;
}

.info {
	display: flex;
	min-height: 940px;
	align-items: center;
	text-align: left;
	background-image: url('/src/assets/hero-bg-image.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.title {
	line-height: 1.2;
	font-size: 130px;
	font-weight: 400;
	font-family: "Anton", sans-serif;
	text-transform: uppercase;
	position: relative;
	padding-left: 146px;
	max-width: 80%;

	&::after {
		content: '';
		background-image: url('/src/assets/label.png');
		background-position: center;
		background-repeat: no-repeat;
		width: 135px;
		aspect-ratio: 1;
		position: absolute;
		right: -23px;
		top: -105px;
	}
	&::before {
		content: '';
		background-image: url('/src/assets/with-love.png');
		background-position: center;
		background-repeat: no-repeat;
		width: 214px;
		height: 66px;
		position: absolute;
		right: -62px;
		bottom: -31px;
	}

	.buttonprev {
		background-image: url('/src/assets/arrow.svg');
		background-color: yellow;
		width: 30px;
		height: 30px;
		z-index: 9;
	}
}