.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: 35px;
}

.wrapper {
	display: flex;
	gap: 35px;
	align-items: center;
}

.logo {
	padding-block: 30px;
}

.login {
	border: none;
	background-color: transparent;
}