@use "/src/scss/variables" as *;

.wrapper {
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 20px;
	border: 1px solid $color-dark;
}

.image {
	border-radius: 5px;
}

.information {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}

.infowrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.title {
	font-family: "Anton", sans-serif;
	font-size: 25px;
	text-transform: uppercase;
}

.maintitle {
	font-size: 50px;
	font-family: "Anton", sans-serif;
	text-transform: uppercase;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	rotate: 180deg;
}

.information {
	font-family: "Space Mono", sans-serif;
	font-size: 18px;
}

.button {
	padding: 20px 33px;
	color: $color-light;
	font-family: "Anton", sans-serif;
	font-size: 18px;
	border: none;
	text-transform: uppercase;
	background-image: url('/src/assets/button-bg.png');
	background-position: cover;
	background-repeat: no-repeat;
	background-color: $color-second-dark;
}