@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

$color-dark: black;

img {
	vertical-align: middle;
	object-fit: cover;
	object-position: center;
}

a {
	text-decoration: none;
	color: $color-dark;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: $color-dark;
}

ul,
li {
	list-style: none;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}